nav a:hover {
  background-color: #3b4443;
}

.navbar {
  padding: 2rem;
}

body {
  background-image: url('img/back.png');
}


#dark {
  background-color: #021613;
}

#stats {
    color:  rgb(243, 32, 32);
}

#current{
    color: red;
}

.container-md{
    width: 200px;
    margin-top: 2%;
    margin-left: 5%;
}



#table1{
margin-top: 12%;
color: aliceblue;
}

#table2{
  width: 35%; 
  margin-top: 15%;
  color: aliceblue;
}

.position-relative{
  margin-left: 20%;
    color: aliceblue;
}

#figcaption{
  margin-left: 30%;
  color: aliceblue;
}

#figcaption2{
  margin-left: 30%;
  color: aliceblue;
}

#figcaption3{
  margin-left: 30%;
  color: aliceblue;
}


#pictures{
  margin-left: 30%;
  color: aliceblue;
}

#home{
  margin-top: 10%;
}

#gun{
  width: 70%;
  margin-top: 40%;
}

.nav-item{
  margin-right: 15%;
  font-size:larger ;
  color: aliceblue;
}

#navbarNav{
  margin-right: 18%;
}
