nav a:hover {
  background-color: #3b4443;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

body {
  background-color: rgb(221, 72, 72);
}

#logo {
  margin-right: 25%;
}

#dark {
  background-color: #021613;
}

#stats {
    color:  rgb(245, 11, 11);
}

#current{
    color: red;
}

.container-md{
    width: 200px;
    margin-top: 2%;
    margin-left: 5%;
}



#table1{
  width: 25%; 
  margin-top: 11%;
  margin-left: 36%;
  font-size: ;
}



#table2{
  width: 35%; 
  margin-top: 11%;
  margin-left: 27%;
  font-size: xx-large;
}

#span1{
  margin-top: 8cm;
  position: absolute;
  width: 2cm;
}

#span2{
  margin-top: 8cm;
  position: absolute;
  width: 2cm;
}

#span3{
  margin-top: 8cm;
  position: absolute;
  width: 2cm;
}

#gun {
  margin-left: 15%;
  margin-top: 9%;
}

